# Entornos virtuales
.venv/
CC_MDS/
venv/
env/

# Cache de Python
__pycache__/
*.py[cod]
.pytest_cache/

# Datos crudos pesados (no versionar)
data/*.csv
data/*.zip
!data/README.md

# Sistema
.DS_Store
.ipynb_checkpoints/
.vscode/
